* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-board {
  width: 100%;
  height: 500px;
  border-bottom: 15px solid rgb(35, 160, 35);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#87ceeb, #e0f6ff);
}

.pipe {
  position: absolute;
  bottom: 0;
  width: 90px;
  animation: pipe-animation 2s infinite linear;
}

.mario {
  width: 150px;
  position: absolute;
  bottom: 0;
}

.jump {
  animation: jump 500ms ease-out;
}

.clouds {
  position: absolute;
  width: 100%; /* Alterado para ocupar 100% da largura da tela */
  animation: clouds-animation 10s infinite linear;
}

.jump-button-container {
  position: fixed;
  bottom: 5%; /* Alterado para ajustar percentualmente conforme a tela */
  right: 5%; /* Alterado para ajustar percentualmente conforme a tela */
}

.jump-button {
  padding: 15px 20px;
  font-size: 18px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.jump-button:hover {
  background-color: #45a049;
}

@media screen and (max-width: 600px) {
  .jump-button-container {
    bottom: 10px;
    right: 10px;
  }

  .jump-button {
    padding: 10px 15px;
    font-size: 16px;
  }

  .pipe {
    position: absolute;
    bottom: 0;
    width: 40px;
    animation: pipe-animation 1.5s infinite linear;
  }

  @keyframes jump {
    0% {
      bottom: 0;
    }

    40% {
      bottom: 90px;
    }

    50% {
      bottom: 70px;
    }

    60% {
      bottom: 90px;
    }

    100% {
      bottom: 0;
    }
  }
}

.jump-counter {
  position: fixed;
  bottom: 5%; /* Alterado para ajustar percentualmente conforme a tela */
  left: 5%; /* Alterado para ajustar percentualmente conforme a tela */
  font-size: 24px;
  color: #333;
  background-color: #4caf50;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@keyframes pipe-animation {
  from {
    right: -80px;
  }

  to {
    right: 100%;
  }
}

@keyframes jump {
  0% {
    bottom: 0;
  }

  40% {
    bottom: 190px;
  }

  50% {
    bottom: 190px;
  }

  60% {
    bottom: 190px;
  }

  100% {
    bottom: 0;
  }
}

@keyframes clouds-animation {
  from {
    right: -100%; /* Alterado para iniciar fora da tela */
  }

  to {
    right: 100%;
  }
}
