* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-board {
  width: 100%;
  height: 500px;
  border-bottom: 15px solid rgb(35, 160, 35);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#87ceeb, #e0f6ff);
}

.pipe {
  position: absolute;
  bottom: 0;
  width: 90px;
  animation: pipe-animation 1.5s infinite linear;
}

.mario {
  width: 150px;
  position: absolute;
  bottom: 0;
}

.jump {
  animation: jump 500ms ease-out;
}

.clouds {
  position: absolute;
  width: 550px;
  animation: clouds-animation 10s infinite linear;
}

/* Adiciona estilos à div que envolve o botão */
.jump-button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

/* Adiciona o estilo para o botão de pulo */
.jump-button {
  padding: 15px 20px; /* Aumenta o tamanho do botão */
  font-size: 18px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona sombra ao botão */
  transition: background-color 0.3s ease; /* Adiciona transição de cor ao botão */
}

/* Adiciona um estilo para o botão quando hover (opcional) */
.jump-button:hover {
  background-color: #45a049;
}

@media screen and (max-width: 600px) {
  .jump-button-container {
    bottom: 10px;
    right: 10px;
  }

  .jump-button {
    padding: 10px 15px;
    font-size: 16px;
  }
}

@keyframes pipe-animation {
  from {
    right: -80px;
  }

  to {
    right: 100%;
  }
}

@keyframes jump {
  0% {
    bottom: 0;
  }

  40% {
    bottom: 180px;
  }

  50% {
    bottom: 180px;
  }

  60% {
    bottom: 180px;
  }

  100% {
    bottom: 0;
  }
}

@keyframes clouds-animation {
  from {
    right: -550;
  }

  to {
    right: 100%;
  }
}
