* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-board {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  border: 1x solid#333;
  border-bottom: 15px solid rgb(35, 160, 35);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#87ceeb, #e0f6ff);
}

.pipe {
  position: absolute;
  bottom: 0;
  width: 90px;
  animation: pipe-animation 2s infinite linear;
}

.mario {
  width: 150px;
  position: absolute;
  bottom: 0;
}

.jump {
  animation: jump 700ms ease-out;
}

.clouds {
  position: absolute;
  width: 70%;
  animation: clouds-animation 10s infinite linear;
}

.jump-button-container {
  position: fixed;
  bottom: 5%;
  right: 5%;
}

.jump-button {
  padding: 15px 20px;
  font-size: 18px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.jump-button:hover {
  background-color: #45a049;
}

.jump-counter {
  position: fixed;
  bottom: 5%;
  left: 5%;
  font-size: 24px;
  color: #333;
  background-color: #4caf50;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@keyframes pipe-animation {
  from {
    right: -80px;
  }

  to {
    right: 100%;
  }
}

@keyframes jump {
  0% {
    bottom: 0;
  }

  40% {
    bottom: 120px;
  }

  50% {
    bottom: 120px;
  }

  60% {
    bottom: 120px;
  }

  100% {
    bottom: 0;
  }
}

@keyframes clouds-animation {
  from {
    right: -100%;
  }

  to {
    right: 100%;
  }
}

@media screen and (max-width: 700px) {
  .game-board {
    width: 100%;
    height: 300px;
    border-bottom: 10px solid rgb(35, 160, 35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87ceeb, #e0f6ff);
  }

  .pipe {
    position: absolute;
    bottom: 0;
    width: 50px;
    animation: pipe-animation 1.5s infinite linear;
  }

  .mario {
    width: 70px;
    position: absolute;
    bottom: 0;
  }

  .jump {
    animation: jump 500ms ease-out;
  }

  .clouds {
    position: absolute;
    width: 100%;
    animation: clouds-animation 10s infinite linear;
  }

  .jump-button-container {
    bottom: 10px;
    right: 10px;
  }

  .jump-button {
    padding: 15px 20px;
    font-size: 18px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }

  .jump-button:hover {
    background-color: #45a049;
  }

  .jump-counter {
    position: fixed;
    height: 43px;
    top: 10px;
    left: 5%;
    font-size: 24px;
    color: #333;
    background-color: #4caf50;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  @keyframes pipe-animation {
    from {
      right: -80px;
    }

    to {
      right: 100%;
    }
  }

  @keyframes jump {
    0% {
      bottom: 0;
    }

    40% {
      bottom: 170px;
    }

    50% {
      bottom: 170px;
    }

    60% {
      bottom: 170px;
    }

    100% {
      bottom: 0;
    }
  }

  /* @keyframes jump {
    0% {
      bottom: 0;
    }

    10% {
      bottom: 20px;
    }
    20% {
      bottom: 30px;
    }

    30% {
      bottom: 40px;
    }
    40% {
      bottom: 50px;
    }

    50% {
      bottom: 100px;
    }
    70% {
      bottom: 70px;
    }
    90% {
      bottom: 50px;
    }

    100% {
      bottom: 0;
    }
  } */

  @keyframes clouds-animation {
    from {
      right: -100%;
    }

    to {
      right: 100%;
    }
  }
}
